project/web/uploads/*
project/web/intranet_dev.php
project/cache/*
project/log/*
project/lib/vendor/*
project/data/sql
project/data/fixtures
project/config/databases.yml
*~
.settings
.project
.buildpath
