generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Facture
    theme:                 nathanmode
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          facture
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        date: { date_format: dd/MM/yyyy }
        total_fournisseur: { label: "Commission société" }
        total_commercial: { label: "Commission commercial" }
      list:
        sort: [date, desc]
        max_per_page: 150
        batch_actions:
          statutPayee: ~
        actions: { }
        object_actions:
          _edit: ~
          _delete: ~
        title: "Liste des factures"
        display: [Fournisseur, Saison, relation, numero, date, Client, montant, total_fournisseur, Commercial, _statut, _fichier]
      filter:
        display: [fournisseur_id, saison_id, relation, numero, date, client_id, montant, total_fournisseur, commercial_id, statut, fichier]
      form:    ~
      edit:
        title: "Modification de la facture %%numero%%"
      new:
        title: "Nouvelle facture"
