*{
	margin:0;
	padding:0;
}

html {
     background: #fff;
}

body{
	background: none !important;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
}

a,
a:link,
a:visited{
	color:#000;
	text-decoration:underline;
}

a:hover{
	text-decoration:none;
}

a:focus,
a:active{
	outline:none;
}

form{margin:0px;}
img{border:0px;}

#wrapper{
	width:1200px;
	margin:0 auto;
}

#header{
	display:none !important
}
.productName div.actions{
	display:none !important
}

#pageContent{
	width:100%;
}

.productName{
	float:none;
	width:100%;
	padding:0 0 20px 0;
}

.productName span{
	float:none;
	width:60%;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	line-height:26px;
}

.tableNm{
	width:100%;
	background:#FFF;
	border:1px solid #D2D2D2 !important;
	border-collapse: separate;
}

.tableNm th{
	background:none !important;
	font-size:12px;
	text-align:left;
	padding:5px 5px 9px 5px;
	border-left:1px solid #fff;
	border-right:1px solid #d4d4d4;
    border-top: none;
	border-bottom:1px solid #cdcdcd;
}

.tableNm td{
	background:#FFF;
	padding:3px 5px;
	border-bottom:1px solid #cdcdcd;
	border-left:1px solid #fff;
	border-right:1px solid #d4d4d4;
	border-top: none;
	font-size: 11px;
}

.tableNm tr.statName {
	font-size:18px;
	font-weight:bold;
}

.tableNm tr.statName td{
	font-size:18px;
	padding-top:15px;
	font-weight:bold;
	border-right:none;
}

.tableNm tr.noSepar td{
	border-right:none;
}

.tableNm tr.statTotal {
	color:#FFF;
	background-color:#000;
	font-size:15px;
}
.tableNm tr.statTotal td {
	color:#FFF;
	background-color:#000;
	font-size:15px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:none !important;
	border-left:none !important;
	border-right:1px solid #FFF;
	border-top: none;
}

.tableNm tr.statTotalMax {
	color:#FFF;
	background-color:#000;
	font-size:18px;
}
.tableNm tr.statTotalMax td {
	color:#FFF;
	background-color:#000;
	font-size:18px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:none !important;
	border-left:none !important;
	border-right:1px solid #FFF;
	border-top:1px solid #FFF;
}

.tableNm .aCenter{
	text-align:center;
}


.tableNm .last td{
	border-bottom:1px solid #d2d2d2 !important;
}
.tableNm .first td{
    border-bottom:1px solid #d2d2d2 !important;
}

.tableNm td:last-child,
.tableNm th:last-child{
	border-right:none !important;
}

.tableNm .odd td{
	background:#eee;
}
.tableNm li {
	list-style:none;
	white-space:nowrap;
}

.sf_admin_td_actions{ text-align:center; }

/* HACK */
.setNav a.prix{ display:none; }

.first input,
.first select{
	margin:0 0 0 0 !important;
}

tr.tirelle_refusee,
tr.tirelle_refusee td {
	background-color:#dfc5c5 !important;
}
.factor.tirelle_refusee .tableau .titre {
	border-bottom:5px solid #b40606 !important;
}
tr.tirelle_validee ,
tr.tirelle_validee td {
	background-color:#bfdfc0 !important;
}
.factor.tirelle_validee .tableau .titre {
	border-bottom:5px solid #008003 !important;
}
tr.retard_livraison,
tr.retard_livraison td  {
	background-color:#bfc8ff !important;
}
.factor.retard_livraison .tableau .titre {
	border-bottom:5px solid #0060ff !important;
}

tr.first label,
input#collection_filters_qualite_is_empty{ display:none; }

input#collection_filters_num_commande,
input#collection_filters_qualite {
	width:80px !important;
}

select#collection_filters_situation {
	width:145px !important;
	margin:0;
}
.tableNm select {
	margin:0 !important;
}

th#sf_admin_list_th_actions{
	width:45px !important;
}


.first td input[type=submit]{
	background-color:#bfdfc0 !important;
	border:none;
	text-indent:-100px;
	width:20px;
	height:20px;
	display:block;
	float:right;
	overflow:hidden;
	cursor:pointer;
}
.first td a{
	background-color:#dfc5c5 !important;
	border:none;
	text-indent:-100px;
	width:20px;
	height:20px;
	display:block;
	float:right;
	overflow:hidden;
	cursor:pointer;
	margin:0 0 0 5px;
}

.first td select{
	font-size:11px !important;
	float:none !important;
	padding: 0px !important;
}
.first td input{
	font-size:11px !important;
	float:none !important;
	padding: 0px !important;
}
.first td{
	white-space:nowrap;
}
.first td .help{
	display:none !important;
}
#collection_filters_date_commande_from_month,
#collection_filters_date_commande_from_day,
#collection_filters_date_commande_to_month,
#collection_filters_date_commande_to_day,
#coupe_filters_date_commande_from_month,
#coupe_filters_date_commande_from_day,
#coupe_filters_date_commande_to_month,
#coupe_filters_date_commande_to_day,
#coupe_filters_date_livraison_from_month,
#coupe_filters_date_livraison_from_day,
#coupe_filters_date_livraison_to_month,
#coupe_filters_date_livraison_to_day,
#coupe_filters_livre_le_from_month,
#coupe_filters_livre_le_from_day,
#coupe_filters_livre_le_to_month,
#coupe_filters_livre_le_to_day,
#collection_filters_date_livraison_from_day,
#collection_filters_date_livraison_from_month,
#collection_filters_date_livraison_to_day,
#collection_filters_date_livraison_to_month,
#bon_filters_date_from_day,
#bon_filters_date_from_month,
#bon_filters_date_to_day,
#bon_filters_date_to_month,
#facture_filters_date_from_day,
#facture_filters_date_from_month,
#facture_filters_date_to_day,
#facture_filters_date_to_month,
#credit_filters_date_from_day,
#credit_filters_date_from_month,
#credit_filters_date_to_day,
#credit_filters_date_to_month{
	width:38px !important;
}
#collection_filters_date_commande_from_year,
#collection_filters_date_commande_to_year,
#coupe_filters_date_commande_from_year,
#coupe_filters_date_commande_to_year,
#coupe_filters_date_livraison_from_year,
#coupe_filters_date_livraison_to_year,
#coupe_filters_livre_le_from_year,
#coupe_filters_livre_le_to_year,
#collection_filters_date_livraison_from_year,
#collection_filters_date_livraison_to_year,
#bon_filters_date_from_year,
#bon_filters_date_to_year,
#facture_filters_date_from_year,
#facture_filters_date_to_year,
#credit_filters_date_from_year,
#credit_filters_date_to_year{
	width:50px !important;
}

#coupe_filters_facture{
	display:none !important;
}

#coupe_filters_metrage,
#bon_filters_metrage,
#bon_filters_relation,
#bon_filters_numero,
#bon_filters_qualite,
#facture_filters_relation,
#facture_filters_numero,
#credit_filters_numero{
	width:60px !important;
}

#coupe_filters_colori{
	width:80px !important;
}

td.sf_admin_list_td_montant,
td.sf_admin_list_td_total_fournisseur,
td.sf_admin_list_td_total_commercial{
	text-align:right;
}

.tabloInfoGen input{
	width:100px !important;
}
.tabloInfoGen select{
	width:158px !important;
}
td.uploadFile{
    height: 65px;
    position: relative;
    text-align: left;
    vertical-align: top;
}
.uploadFile br{
	display:inline-block;
	position:absolute;
}
td.uploadFile input{
	float:none !important;
	display:block !important;
}
td.uploadFile input[type=checkbox],
td.uploadFile input[type=checkbox]{
	width:auto !important;
	vertical-align:sub !important;
	float:left !important;
	margin-top:3px !important;
}
td.uploadFile label{
	line-height:19px !important;
	float:left !important;
}
td.uploadFile a{
    margin: 42px 0 0 5px;
    position: absolute;
}

td.sf_admin_list_td_qualite,
input#collection_qualite,
input#collection_filters_qualite{
	text-transform:uppercase;
}

tr.statName{
	page-break-before : always;
}

tr.noThPage{
	display:table-row;
}
tr.noThPage td {
	background-color:#cccccc;
}

td.noneTd,
th.noneTd{
	display: none;
}

.noThead{
	display:none;
}
