generator:
  class: sfDoctrineGenerator
  param:
    model_class:           CollectionDetail
    theme:                 nathanmode
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          collection_detail
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        date_commande: { date_format: dd/MM/yyyy }
        date_livraison_demandee: { date_format: dd/MM/yyyy, label: ETP demandé }
        date_livraison_prevue: { date_format: dd/MM/yyyy, label: ETD confirmé }
        qualite: {label: Référence}
        piece_categorie: {label: Catégorie}
        reste_a_livrer_produit: {label: Reste à livrer}
        nbrelance: {label: Relance}
        commande_soldee: {label: Soldée}
      list:
        sort: [date_livraison_demandee, desc]
        max_per_page: 30
        table_method: queryProductions
        table_count_method: queryProductions
        batch_actions: {  }
        actions:
          _new: ~
        title: "Liste des commandes de production"
        display: [saison, fournisseur, client, _date_commande, num_commande, date_livraison_demandee, date_livraison_prevue, _situation_commande, categorie, qualite, _image, colori, quantite, prix, Devise, _nbrelance, _reste_a_livrer_produit, commande_soldee]
      filter:
        display: [saison_id, fournisseur_id, client_id, date_commande, num_commande, date_livraison_demandee, date_livraison_prevue,  situation, piece_categorie, qualite, image, colori, piece, prix, devise_id, nb_relance, reste_a_livrer_produit, commande_soldee]
      form:    ~
      edit:    ~
      new:     ~
