generator:
  class: sfDoctrineGenerator
  param:
    model_class:           CollectionDetail
    theme:                 nathanmode
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          collection_detail
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        date_commande: { date_format: dd/MM/yyyy }
        date_livraison_demandee: { date_format: dd/MM/yyyy }
        qualite: {label: Référence}
        piece_categorie: {label: Catégorie}
        reste_a_livrer_produit: {label: Reste à livrer}
        nbrelance: {label: Nb. relances}

      list:
        sort: [date_livraison_demandee, desc]
        max_per_page: 30
        table_method: queryProductions
        table_count_method: queryProductions
        batch_actions: {  }
        actions:
          _new: ~
        title: "Liste des commandes de production"
        display: [saison, fournisseur, client, date_commande, num_commande, date_livraison_demandee, _reste_a_livrer_produit, _situation, categorie, qualite, _image, colori, quantite, prix, Devise, _nbrelance]
      filter:
        display: [saison_id, fournisseur_id, client_id, date_commande, num_commande, date_livraison_demandee, reste_a_livrer_produit, situation, piece_categorie, qualite, image, colori, piece, prix, devise_id, nb_relance]
      form:    ~
      edit:    ~
      new:     ~
